.carousel-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel {
  width: 75%;
  max-width: 1280px;
  min-height: 420px;
  max-height: 720px;
}

.dragon-page-main-header {
  margin-bottom: 80px;
  color: white;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  background: none;
}

.swiper-slide:nth-child(2n) {
  width: 20%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

.dragon-page-sub-header {
  margin-bottom: 80px;
  color: white;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
}
