.dragon-modal-header {
  color: var(--brand-green-color);
  font-weight: 700;
  font-size: 25px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
}

.close-modal-btn {
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 17px;
}
