.dragon-list-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 10px;
  overflow-y: hidden;
  color: (--white-color);
}

.dragon-list-page-table {
  max-width: 1000px;
  color: var(--white-text-color);
  font-size: 20px;
}

.dragon-list-page-table > div:nth-child(2n) {
  margin: 30px 0;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
