* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Gilroy, sans-serif;
  background-image: url('../img/app-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

a {
  color: var(--brand-green-color);
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  transition: all 0.3s ease;
}

:root {
  --gray-400-primary-background: #181a20;
  --primary-text-color: #181a20;
  --secondary-text-color: #505565;
  --text-gray-color: #6a726d;
  --always-text-gray-color: #6a726d;
  --text-grayish-color: #a5a5a5;
  --support-info-color: #03d8ff;
  --support-error-color: #f76519;
  --white-text-color: #ffffff;
  --auth-modal-background: rgba(52 79 62 / 47%);
  --brand-green-color: #06c149;
  --brand-dark-green-color: #006624;
  --brand-green-color-hover: #1caa4f;
  --always-white-color: #ffffff;
  --auth-modal-border-color-1: rgb(34 240 0 / 47%);
  --auth-modal-border-color-2: rgb(146 255 229 / 47%);
  --auth-border: linear-gradient(to left, var(--auth-modal-border-color-1), var(--auth-modal-border-color-2));
  --auth-background: var(--gray-400-primary-background);
  --auth-box-shadow: none;
  --link-color: #06c149;
  --link-hover-color: #ffffff;
  --password-eye-color: rgb(104 104 104);

  overflow-x: hidden;
}

@font-face {
  font-weight: bold;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Extrabold.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-Extrabold.woff') format('woff'),
    url('../fonts/girloy/Gilroy-Extrabold.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-ExtraboldItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-ExtraboldItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-ExtraboldItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-HeavyItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-HeavyItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-HeavyItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Heavy.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-Heavy.woff') format('woff'), url('../fonts/girloy/Gilroy-Heavy.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-RegularItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-RegularItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-BoldItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-BoldItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-MediumItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-MediumItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-Regular.woff') format('woff'),
    url('../fonts/girloy/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-Medium.woff') format('woff'),
    url('../fonts/girloy/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-weight: 100;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-ThinItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-ThinItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 200;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-UltraLight.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-UltraLight.woff') format('woff'),
    url('../fonts/girloy/Gilroy-UltraLight.ttf') format('truetype');
}

@font-face {
  font-weight: 100;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Thin.woff2') format('woff2'), url('../fonts/girloy/Gilroy-Thin.woff') format('woff'),
    url('../fonts/girloy/Gilroy-Thin.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Bold.woff2') format('woff2'), url('../fonts/girloy/Gilroy-Bold.woff') format('woff'),
    url('../fonts/girloy/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-weight: 300;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-LightItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-LightItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-LightItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Black.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-Black.woff') format('woff'), url('../fonts/girloy/Gilroy-Black.ttf') format('truetype');
}

@font-face {
  font-weight: 200;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-UltraLightItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-UltraLightItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-UltraLightItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-SemiboldItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-SemiboldItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 300;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-Light.woff') format('woff'), url('../fonts/girloy/Gilroy-Light.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: Gilroy;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-BlackItalic.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-BlackItalic.woff') format('woff'),
    url('../fonts/girloy/Gilroy-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 600;
  font-family: Gilroy;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/girloy/Gilroy-Semibold.woff2') format('woff2'),
    url('../fonts/girloy/Gilroy-Semibold.woff') format('woff'),
    url('../fonts/girloy/Gilroy-Semibold.ttf') format('truetype');
}
