* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../img/app-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
